@import "fonts";
@import "reset";

$bg_color: #ecf0f3;
$text_color: #4e5f6f;
$white: #fff;
$blue: #378dcc;
$green: #66d99f;
$lightgray: #f8f9f9;
$border: 1px solid #e6eaed;
$small_radius: 5px;
$big_radius: 10px;

/* temp. style */
%clearfix {
	content: "";
	display: table;
	clear: both;
}
%input_style {
	box-sizing: border-box;
	border: 1px solid #e8e9e9;
	border-radius: $small_radius;
	width: 100%;
	padding: 12px;
	margin-bottom: 14px;
	transition: all 0.35s ease;
	outline: none;
	&:hover {
		box-shadow: 1px 1px 2px $text_color;
	}
	&:focus {
		border-color: #ccc;
		box-shadow: 1px 1px 2px $text_color;
	}
}
%input_submit {
	width: 100%;
	background-color: $blue;
	color: $white;
	font-weight: bold;
	border: none;
	border-radius: $small_radius;
	margin-top: 20px;
	padding: 14px;
	transition: all 0.35s ease;
	cursor: pointer;
	outline: none;
	&:hover {
		background-color: $blue - #222;
		border-radius: 0;
		box-shadow: inset 1px 1px 2px $white,
					inset -1px -1px 2px $white;
		letter-spacing: 0.4em;
		text-shadow: 1px 1px $text_color, 1px 1px 2px $white;
	}
}
%green_footer {
	position: relative;
	background-color: $green;
	text-align: center;
	height: 54px;
	font-size: 16px;
	font-weight: bold;
	overflow: hidden;
	border-bottom-left-radius: $big_radius;
	border-bottom-right-radius: $big_radius;
	transition: all 0.35s ease;
	&:after {
		background: #fff;
		content: "";
		height: 110px;
		left: -70px;
		opacity: .8;
		position: absolute;
		top: -30px;
		transform: rotate(35deg);
		transition: left 0.8s cubic-bezier(0.19, 1, 0.22, 1);
		width: 10px;
		box-shadow: 1px 1px 20px 20px #fff;
	}
	&:hover {
		background-color: $green - #333;
		text-shadow: 1px 1px 2px $text_color - #444;
		&:after {
			left: 120%;	
		}
	}
	a {
		color: $white;
		padding: 0;
		display: block;
		width: 100%;
		height: 100%;
		span {
			position: relative;
			top: 18px;
		}
		
	}
}
%gray_footer {
	background-color: $lightgray;
	margin: 0 -30px;
	border-top: $border;
	text-align: center;
	padding: 17px;
	border-bottom-left-radius: $big_radius;
	border-bottom-right-radius: $big_radius;
	font-size: 13px;
	p {
		color: #4f6070;
	}
	a {
		color: $blue;
		margin-left: 5px;
		font-weight: bold;
		&:hover {
		text-decoration: underline;
		}
	}
}

/* main style */
body {
	background-color: $bg_color;
	font: 14px Roboto, Arial, sans-serif;
	color: $text_color;
}
h2 {
	font-size: 20px;
}
h3 {
	font-size: 16px;
}
a{
	text-decoration: none;
}
.wrapper {
	display: flex;
	flex-wrap: wrap;
	margin: 100px auto;
	width: 85%;
	max-width: 1760px;
}

/* double col */

.double_col {
	flex: 1;
	display: flex;
	flex-wrap: wrap;
	min-width: 630px; /* add media queries */
	.col {
		flex: 1;
		min-width: 270px;
		margin: 0 15px;
		.box {
			background-color: $white;
			border: $border;
			border-radius: $big_radius;
			margin-bottom: 30px;
		}
	}
}


/* first col */

.box_login {
	padding: 30px 30px 0 30px;
	input[type="email"], input[type="password"] {
		@extend %input_style;
	}
	input[type="password"] {
		margin-bottom: 23px;
	}
	input[type="checkbox"] {
		width: 18px;
		height: 18px;
		margin: 0;
		cursor: pointer;
	}
	label {
		position: relative;
		top: -4px;
		font-size: 13px;
	}
	.forgot {
		float: right;
		color: $blue;
		font-weight: bold;
		font-size: 13px;
		position: relative;
		top: 2px;
		&:hover {
			text-decoration: underline;
		}
	}
	input[type="submit"] {
		@extend %input_submit;
	}
	.sign_in {
		font-size: 12px;
		text-transform: uppercase;
		text-align: center;
		margin: 30px 0 20px;
		color: #abb5be;
		&:after {
			content: "";
			display: inline-block;
			height: 1px;
			width: 10%;
			background: #e9ebed;
			margin: 0 0 4px 10px;
		}
		&:before {
			content: "";
			display: inline-block;
			height: 1px;
			width: 10%;
			background: #e9ebed;
			margin: 0 10px 4px 0;
		}
	}
	button {
		width: 48%;
		height: 44px;
		border: none;
		border-radius: $small_radius;
		padding: 10px 0 14px;
		color: $white;
		font-weight: bold;
		margin-bottom: 30px;
		transition: all 0.35s ease;
		cursor: pointer;
		outline: none;
	}
	.facebook {
		background-color: #425f9f;
		&:after {
		content: "";
		display: inline-block;
		width: 8px;
		height: 16px;
		background: url(../img/facebook.png) no-repeat;
		position: relative;
		top: 3px;
		right: 76px;
		margin-right: -25px;
		transition: all 0.35s ease;
		}
		&:hover {
			background-color: #425f9f + #111;
			box-shadow: inset 0 0 10px #333;
			&:after {
				right: -8px;
				margin-right: 10px;
			}
		}
	}
	.twitter {
		background-color: #00abf0;
		float: right;
		&:after {
		content: "";
		display: inline-block;
		width: 16px;
		height: 16px;
		background: url(../img/twitter.png) no-repeat 0px 2px;
		position: relative;
		top: 2px;
		right: 65px;
		margin-right: -33px;
		transition: all 0.35s ease;
		}
		&:hover {
			background-color: #00abf0 - #222;
			box-shadow: inset 0 0 10px #333;
			&:after {
				right: -8px;
				margin-right: 10px;
			}
		}
	}
	.footer {
		@extend %gray_footer;
	}
}

.box_signup {
	padding: 30px 30px 0 30px;
	h3 {
		font-weight: bold;
		margin-bottom: 15px;
	}
	input[type="text"], input[type="email"], input[type="password"] {
		@extend %input_style;
	}
	.password_status {
		display: flex;
		margin-top: 5px;
		.bar {
			flex: 1;
			margin: 0 1px;
			height: 9px;
			background-color: #f1f1f1;
			&:first-child {
				border-top-left-radius: $big_radius;
				border-bottom-left-radius: $big_radius;
			}
			&:last-child {
				border-top-right-radius: $big_radius;
				border-bottom-right-radius: $big_radius;
			}
		}
		.active_bar {
			background-color: #ff6286;
		}
		& + p {
		font-size: 12px;
		margin: 18px 0 18px 0;
		}
	}
	input[type="checkbox"] {
		width: 18px;
		height: 18px;
		margin: 0;
		cursor: pointer;
	}
	label {
		position: relative;
		top: -4px;
		font-size: 13px;
	}
	input[type="submit"] {
		@extend %input_submit;
		margin-bottom: 30px;
	}
	.footer {
		@extend %gray_footer;
	}
}

.box_blogpost {
	position: relative;
	img {
		display: block;
		width: 100%;
		height: 248px;
	}
	.img_text {
		position: absolute;
		top: 165px;
		left: 30px;
		color: #f1f1f1;
		padding-right: 30px;
		p:first-of-type {
			font-size: 24px;
			font-weight: bold;
		}
		p:last-of-type {
			font-size: 16px;
			font-weight: bold;
		}
	}
	.text {
		padding: 30px 30px 20px 30px;
	}
	button {
		position: relative;
		overflow: hidden;
		width: 103px;
		height: 43px;
		border: none;
		border-radius: $small_radius;
		color: $white;
		font-weight: bold;
		transition: all 0.35s ease;
		cursor: pointer;
		outline: none;
		background-color: $blue;
		margin: 0 0 20px 30px;
		line-height: 18px;
		&:before {
			content: "Read More";
			position: absolute;
			top: -28px;
		}
		&:hover {
			line-height: 100px;
			background-color: $blue - #222;
			text-shadow: 1px 1px 2px $text_color - #444;
		}
	}
	.right_text {
		float: right;
		margin: 9px 30px 0 0;
		font-size: 13px;
		&:before {
			content: "";
			display: inline-block;
			width: 12px;
			height: 18px;
			background: url(../img/blogpost_flag.png) no-repeat;
			position: relative;
			top: 3px;
			right: 9px;
		}
	}
	.footer {
		margin: 0 30px;
		border-top: $border;
		display: flex;
		justify-content: space-between;
		padding-bottom: 35px;
		.author {
			color: $text_color;
			font-weight: bold;
			&:hover {
				opacity: .7;
			}
			&:before {
				content: "";
				display: inline-block;
				width: 40px;
				height: 40px;
				background: url(../img/face_sprite.png) no-repeat 75%;
				position: relative;
				top: 15px;
				margin-right: 12px;
			}
		}
		.follow {
			color: $blue;
			font-size: 13px;
			font-weight: bold;
			margin-top: 22px;
			&:hover {
				text-decoration: underline;
			}
			&:before {
				content: "";
				display: inline-block;
				width: 18px;
				height: 18px;
				background: url(../img/blogpost_plus.png) no-repeat;
				position: relative;
				top: 5px;
				margin-right: 10px;
			}
		}
	}
}

/* second col */

.box_profile {
	.header {
		position: relative;
		top: -1px;
	}
	.profile_image {
		width: 100%;
		height: 185px;
	}
	.profile_face {
		display: block;
		position: absolute;
		top: 123px;
		left: 50%;
		margin-left: -60px;
		transition: all 0.35s ease;
		&:hover {
			filter: drop-shadow(2px 2px 5px $text-color);
		}
	}
	h2 {
		font-size: 20px;
		font-weight: bold;
		text-align: center;
		margin-top: 70px;
	}
	p {
		text-align: center;
		padding: 10px 30px 0;
	}
	.site, .mail {
		box-sizing: border-box;
		display: inline-block;
		width: 49%;
		padding: 10px 0 20px 0px;
		a {
			color: $text_color;
			&:hover {
				text-decoration: underline;
			}
		}	
	}
	.site {
		text-align: right;
	}
	.site:after {
		content: "";
		display: inline-block;
		width: 13px;
		height: 18px;
		background: url(../img/profile_site.png) no-repeat;
		position: relative;
		top: 3px;
		right: 83px;
	}
	.mail:after {
		content: "";
		display: inline-block;
		width: 18px;
		height: 12px;
		background: url(../img/profile_mail.png) no-repeat;
		position: relative;
		top: 1px;
		right: 76px;
	}
	.small_blocks:after {
		width: 100%;
		@extend %clearfix;
	}
	.left_block, .right_block{
		background-color: $lightgray;
		box-sizing: border-box;
		float: left;
		width: 50%;
		border-top: $border;
		p {
			padding: 0 0 12px;
			font-size: 13px;
		}
		.number {
			font-size: 16px;
			font-weight: bold;
			padding: 12px 0 0;
		}
	}
	.left_block {
		border-right: $border;
	}
	.footer {
		@extend %green_footer;
	}
}

.box_userlist {
	padding: 0 30px 0 30px;
	.box_chat {
		padding: 20px 30px 15px;
		margin: 0 -30px;
		border-bottom: $border;
		.chat_image {
			float: left;
			position: relative;
			width: 40px;
			height: 40px;
			&:hover {
					opacity: .7;
				}
			a {
				display: block;
				width: 100%;
				height: 100%;
			}
		}
		.image1 {
			background: url(../img/face_sprite.png) no-repeat;
		}
		.image2 {
			background: url(../img/face_sprite.png) no-repeat 25%;
		}
		.image3 {
			background: url(../img/face_sprite.png) no-repeat 50%;
		}
		.image4 {
			background: url(../img/face_sprite.png) no-repeat 75%;
		}
		.image5 {
			background: url(../img/face_sprite.png) no-repeat 100%;
		}
		.userlist_number {
			&:after {
				content: "8";
				font-size: 9px;
				font-weight: bold;
				color: $white;
				width: 40px;
				height: 40px;
				background: url(../img/userlist_number.png) no-repeat;
				padding: 4px 7px;
				position: absolute;
				top: -5px;
				left: 27px;
			}
		}
		.chat_text {
			margin-left: 53px;
			position: relative;
			top: 5px;
			&:after {
				@extend %clearfix;
			}
			a {
				font-weight: bold;
				color: $text-color;
				&:after {
					content: "2d ago";
					font-size: 12px;
					color: #a2aeba;
					font-weight: normal;
					margin-left: 7px;
				}
			}
			p {
				font-size: 13px;
				color: #8998a5;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}
		.last_messege a:after {
			content: "3d ago";
		}
	}
	.footer {
		@extend %gray_footer;
		border-top: none;
	}
}

.box_subscribe {
	padding: 30px 30px 15px 30px;
	h3 {
		font-weight: bold;
		margin-bottom: 15px;
	}
	input {
		@extend %input_style;
		width: 60%;
	}
	button {
		float: right;
		width: 35%;
		height: 41px;
		border: none;
		border-radius: $small_radius;
		padding: 12px 0;
		background-color: $blue;
		color: $white;
		font-weight: bold;
		margin-bottom: 30px;
		transition: all 0.35s ease;
		cursor: pointer;
		outline: none;
		&:hover {
			box-shadow: inset 0 0 1px $text_color - #444,
						1px 1px 2px $text_color;
			text-shadow: 1px 1px 2px $text_color - #222;
		}
	}
}

.box_blog {
	.tabs {
  		font-size: 0;
  		.section {
  			display: none;
  			padding: 20px 30px 30px;
  			min-height: 243px;
  			.box_blog {
  				padding: 10px 0;
  				&:after {
  					@extend %clearfix;
  				}
  				.blog_image {
  					float: left;
  					width: 60px;
  					height: 60px;
  					&:hover {
  						opacity: .7;
  					}
  					a {
  						display: block;
  						width: 100%;
  						height: 100%;
  					}
  				}
  				.blog_text {
  					margin-left: 73px;
  					max-height: 57px;
  					overflow: hidden;
					a:first-child {
						font-size: 11px;
						line-height: 23px;
						text-transform: uppercase;
						color: #73787c;
						&:hover {
							text-decoration: underline;
						}
					}
					a:last-child {
						display: block;
						color: $text_color;
						font-size: 14px;
						font-weight: bold;
					}
  				}
  			}
  			.box_tech .blog_image {
  				background: url(../img/blog_image.png) no-repeat;
  			}
  			.box_music .blog_image {
  				background: url(../img/blog_image.png) no-repeat 50%;
  			}
  			.box_social .blog_image {
  				background: url(../img/blog_image.png) no-repeat 100%;
  			}
		}
		input {
  			display: none;
  			&:checked + label {
  				background-color: $white;
  				border: none;
  			}
  			&[id="tab1"]:checked + label {
  				border-right: $border;
  			}
  			&[id="tab2"]:checked + label {
  				border-left: $border;
  				border-right: $border;
  			}
  			&[id="tab3"]:checked + label {
  				border-left: $border;
  			}
		}
		label {
		  	display: inline-block;
		  	box-sizing: border-box;
		  	width: 25%;
		  	padding: 15px 5px;
		  	font-weight: bold;
		  	text-align: center;
		  	color: $text_color;
		  	border-bottom: $border;
		  	background: $lightgray;
		  	font-size: 14px;
		  	&:hover {
		  		cursor: pointer;
		  	}
		  	&:first-of-type {
		  		border-top-left-radius: $big_radius;
		  	}
		  	&:last-of-type {
		  		border-top-right-radius: $big_radius;
		  	}
		}
		label[for="tab2"] {
			width: 50%;
		}
		#tab1:checked ~ .content1,
		#tab2:checked ~ .content2,
		#tab3:checked ~ .content3 {
  			display: block;
  			font-size: 14px;
		}
	}
}

/* third col */

.box_cart {
	padding: 25px 30px 0 30px;
	h3 {
		font-weight: bold;
	}
	h3:before {
		content: "";
		background: url(../img/bag.png) no-repeat;
		width: 14px;
		height: 18px;
		position: relative;
		top: 2px;
		margin-right: 9px;
	}
	.first_item {
		margin-top: 25px;
	}
	.second_item {
		margin: 20px 0;
	}
	.cart_image {
		width: 62px;
		height: 62px;
		float: left;
		margin-right: 10px;
		&:hover {
			opacity: .7;
		}
		a {
			display: block;
			width: 100%;
			height: 100%;
		}
	}
	.cart_image1 {
		background: url(../img/cart_image.png) no-repeat;
	}
	.cart_image2 {
		background: url(../img/cart_image.png) no-repeat 0% 50%;
	}
	.cart_image3 {
		background: url(../img/cart_image.png) no-repeat 0% 100%;
	}
	.cart_text {
		display: flex;
		vertical-align: top;
		flex-direction: column;
	}
	.cart_name {
		font-weight: bold;
		line-height: 22px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.cart_maker {
		font-size: 11px;
		line-height: 20px;
		text-transform: uppercase;
	}
	.cart_price {
		color: $green;
		line-height: 22px;
		font-weight: bold;
	}
	.total {
		margin-top: 20px;
		border-top: $border;
		height: 60px;
		@extend .small_blocks:after;
		.total_left {
			float: left;
			width: 45%;
			padding-top: 18px;
			font-weight: bold;
		}
		.total_right {
			float: right;
			padding-top: 18px;
		}
	}
	.footer {
		@extend %green_footer;
		margin: 0 -30px;
	}
}

.box_item {
	img {
		width: 100%;
		height: auto;
		&:hover {
			filter: saturate(200%);
		}
	}
	.item_wrapper {
		padding: 30px;
		p:first-child {
			font-size: 11px;
			text-transform: uppercase;
			a {
				color: $blue;
				font-weight: bold;
				margin-left: 3px;
				&:hover {
					text-decoration: underline;
				}
			}
		}
		h3 {
			font-weight: bold;
			line-height: 24px;
		}
		p:last-of-type {
			font-size: 16px;
			font-weight: bold;
			color: $green;
		}
		button {
			border: none;
			border-radius: $small_radius;
			margin: 15px 7px 0 0;
			padding: 9px 20px;
			font-size: 13px;
			font-weight: bold;
			transition: all 0.35s ease;
			cursor: pointer;
			outline: none;
			&:first-of-type {
				background-color: $green;
				color: $white;
				&:hover {
					background-color: $green - #222;
					box-shadow: inset 0 0 10px $text_color;
					text-shadow: 0 0 2px $text_color;
					padding: 9px 30px;
				}
			}
			&:last-of-type {
				background-color: $bg_color;
				color: #8998a5;
				&:hover {
					background-color: $bg_color - #222;
					color: #8998a5 - #222;
					box-shadow: inset 0 0 10px $text_color;
					text-shadow: 0 0 2px $white;
					padding: 9px 30px;
				}
			}
		}
	}
}

.box_music {
	video {
		width: 100%;
		height: auto;
		&:hover {
			opacity: .8;
		}
	}
	section {
		padding: 20px 30px 10px;
		.title {
			a {
				color: $blue;
				font-weight: bold;
				line-height: 24px;
				&:hover {
					text-decoration: underline;
				}
			}
			h3 {
				font-weight: bold;
				line-height: 24px;
				&:after {
					content: "";
					float: right;
					width: 18px;
					height: 16px;
					background: url(../img/music_star.png) no-repeat;
					position: relative;
					top: 2px;
				}
			}
			p {
				font-size: 11px;
				color: #73787c;
				line-height: 18px;
				margin-bottom: 15px;
			}
		}
		.composition {
			a {
				display: block;
				padding: 20px 0 20px;
				border-top: 1px solid #e8e9e9;
				color: $text-color;
				&:first-child {
					padding-top: 30px;
				}
				&:hover {
					text-decoration: underline;
				}
				&:after {
					font-size: 11px;
					color: #73787c;
					float: right;
					position: relative;
					top: 3px;
				}
				&:first-child:after {
					content: "4:02";
				}
				&:nth-child(2):after {
					content: "3:02";
				}
				&:last-child:after {
					content: "3:55";
				}
			}
		}
	}
}

/* fourth col */

.chat_wrapper {
	padding: 25px 30px 0 30px;
	.box_chat {
		margin-bottom: 25px;
	}
	.chat_image {
		float: left;
		width: 40px;
		height: 40px;
		background: url(../img/face_sprite.png) no-repeat;
		a {
			display: block;
			width: 100%;
			height: 100%;
		}
		&:hover {
			opacity: .7;
		}
	}
	.chat_text {
		margin-left: 53px;
		line-height: 18px;
		.sign {
			font-size: 12px;
			color: #a2aeba;
		}
	}
	.my_chat {
		border: 1px solid $blue;
		border-radius: $small_radius;
		background-color: #d6eeff;
		margin-left: 53px;
		margin-bottom: 25px;
		.chat_text {
			margin: 20px;
		}
	}
	.footer {
		margin: 0 -30px;
		background-color: $lightgray;
		text-align: center;
		height: 59px;
		font-size: 16px;
		font-weight: bold;
		border-top: $border;
		border-bottom-left-radius: $big_radius;
		border-bottom-right-radius: $big_radius;
		input {
			width: 86%;
			height: 37px;
			margin-top: 10px;
			border: $border;
			border-radius: 5px;
			padding: 0 12px;
			transition: all 0.35s ease;
			cursor: pointer;
			outline: none;
			&:hover {
				box-shadow: 1px 1px 2px $text_color;
			}
			&:focus {
				border-color: #ccc;
				box-shadow: 1px 1px 2px $text_color;
			}
		}
	}
}

.box_statistics {
	.category {
		width: 100%;
		@extend %clearfix;
		border-bottom: 1px solid #e8e9e9;
		&:last-child {
			border-bottom: none;
		}
		.left_side {
			padding: 15px 0 30px 55px;
			box-sizing: border-box;
			display: inline-block;
			width: 50%;
			&:before {
				content: "";
				display: block;
				width: 18px;
				height: 18px;
				position: relative;
				top: 18px;
				right: 30px;
			}
			h3 {
				font-weight: bold;
			}
			p {
				font-size: 13px;
			}
		}
		.visitors:before {
			background: url(../img/statistic_logo.png) no-repeat;
		}
		.views:before {
			background: url(../img/statistic_logo.png) no-repeat 25%;
		}
		.sales:before {
			background: url(../img/statistic_logo.png) no-repeat 50%;
		}
		.right_side {
			margin: 30px 8% 30px 5%;
			box-sizing: border-box;
			float: right;
			width: 37%;
			height: 36px;
			position: relative;
			bottom: 4px;
		}
		.chart1 {
			background: url(../img/statistics_image.png) no-repeat 100%;
			&:before {
				content: "";
				display: block;
				width: 18px;
				height: 18px;
				background: url(../img/statistic_logo.png) no-repeat 75%;
				position: relative;
				top: 15px;
				right: 30px;
			}
		}
		.chart2 {
			background: url(../img/statistics_image.png) no-repeat 100% 50%;
			&:before {
				@extend .chart1:before;
			}
		}
		.chart3 {
			background: url(../img/statistics_image.png) no-repeat 100% 101%;
			&:before {
				@extend .chart1:before;
				background: url(../img/statistic_logo.png) no-repeat 100%;
			}
		}
	}
}

.box_price {
	.header {
		background-color: $lightgray;
		padding: 30px;
		border-top-left-radius: $big_radius;
		border-top-right-radius: $big_radius;
		border-bottom: 1px solid #e8e9e9;
		h3 {
			font-size: 28px;
			font-weight: bold;
			span {
				font-size: 18px;
				font-weight: bold;
			}
		}
		p {
			font-size: 13px;
			color: #9ca8b3;
		}
	}
	.advantages {
		margin: 20px 30px;
		li {
			list-style: circle inside;
			padding: 10px 0;
		}
	}
	.footer {
		@extend %green_footer;
		background-color: $blue;
		&:hover {
			background-color: $blue - #333;
		}
	}
}

.box_bar {
	.graph {
		margin: 30px 30px 30px 20px;
		a {
			width: 100%;
			height: auto;
			img {
				width: 100%;
				height: auto;
			}
		}
	}
}

/* media */
@media  screen and (max-width: 770px) {

	.double_col {
		min-width: 330px;
		.col {
			min-width: 290px;
		}
	}
}

@media  screen and (max-width: 480px) {

	.wrapper {
		width: 100%;
		margin: 30px auto;
	}
	.double_col {
			min-width: 300px;
		.col {
			margin: 0 5px;
			.box_blogpost .follow:before {
				margin-right: 3px;
			}
		}
	}
}